<div class="page-header">
  <%= link_to new_usuarios_administrador_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Usuario
  <% end %>
  <h1>Lista usuarios</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Endereco</th>
            <th>Numero</th>
            <th>Cep</th>
            <th>Estado</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <%= content_tag :tr, id: dom_id(usuario), class: dom_class(usuario) do %>
                      <td><%= usuario.nome %></td>
                      <td><%= usuario.cpf %></td>
                      <td><%= usuario.endereco %></td>
                      <td><%= usuario.numero %></td>
                      <td><%= usuario.cep %></td>
                      <td><%= usuario.estado %></td>
                    <td><%= link_to 'Show', usuarios_administrador_path(usuario) %></td>
          <td><%= link_to 'Edit', edit_usuarios_administrador_path(usuario) %></td>
          <td><%= link_to 'Destroy', usuarios_administrador_path(usuario), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
